:root {
--light: white;
--dark: black;
--medium: mediumblue;
--accent: lightcoral;
--padding: 2rem;
}

html {
  height: 100%;
background-size: 100% 100%;
background-position: 0px 0px;
background-image: radial-gradient(75% 75% at 50% 50%, #012086FF 2%, #010D25FF 99%);
}

body {
  height: 100%;
  margin:0;
  display: grid;
  place-items: center;
  color: var(--light);
  font-family: system-ui;
  font-size: calc(1rem + 0.5vw);
} 

.flex {
  display: flex;
  gap: var(--padding);
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}


.container {
 width: 80vw;
  min-width: 320px;
  padding: var(--padding) 0;
}

.wrapper > * {
  flex-grow: 1;
  flex-basis: calc(( 20em - 100%) * 999);
  background-color: var(--medium);
  padding: var(--padding);
}

.wrapper > :nth-last-child(n+ 3),
.wrapper > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}


